@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    /* border: 1px solid red; */
    /* font-family: 'Nova Square', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'HvDTrial Brandon Grotesque', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(to right bottom, #051937, #003653, #005253, #096a3b, #717b1f);
    background-repeat: no-repeat;
    background-size: cover;
}


/* NAVBAR START */
.navbar {
    /* backdrop-filter: blur(3px); */
    background-color: #00294298;
}

.navbar-brand img {
    /* margin: 22px 0px; */
    height: 40px;
    /* margin-left: 40px; */
    /* filter: saturate(3); */
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(231, 139, 1);
}


/* Search Bar Start */
.form-control {
    margin-top: 2.5px;
    margin-right: 5px;
    height: 34px;
    width: 180px;
    border-radius: 17px;
    font-size: smaller;
}

.search-btn {
    margin-top: 2.5px;
    margin-right: 5px;
    height: 34px;
    border-radius: 17px;
    background-color: #895d00;
}

.search-btn:hover {
    border-radius: 17px;
    background-color: #006503;
}

/* Search Bar End */
/* NAVBAR END */


/* EVENTS START */
/* Events Heading Start */
.events {
    margin-top: 5rem;
    color: #fff;
    text-align: center;
}

.events span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

/* Events Heading End */

/* Slider Start */
.carousel {
    padding: 1%;
    margin: 1% 13% 1% 13%;
}

/* Images Start */
.d-block {
    /* width is set in the class itself */
    height: 390px;
    object-fit: cover;
    border-radius: 20px;
}

/* Images End */

.carousel-caption {
    position: absolute;
    bottom: 2.3rem;
}

/* Register Button Start */
.register-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 90%;
    font-weight: bold;
    z-index: 4;
    border-radius: 17px;
    margin-right: 38%;
    margin-bottom: 1.5rem;
    margin-left: 38%;
    background-color: #895d00;
}

.register-btn:hover {
    background-color: #006503;
}

/* Register Button End */
/* Slider End */
/* EVENTS END */


/* SERVICES START */
/* Services Heading Start */
.services {
    color: white;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

.services span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

/* Services Heading End */

/* Box Containers Start */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 20px;
    justify-content: center;
}

/* Cards Start */
.cards {
    border-radius: 15px;
    background-color: #c9d3a0;
    padding: 0rem 1rem;
}

.mycards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
}

/* Icons Starts */
.mycards i {
    font-size: 2rem;
    margin: 1rem;
}

/* Icons End */

.mycards a {
    text-decoration: none;
}

.card-title {
    font-family: 'Nova Square', sans-serif;
    text-align: center;
    font-weight: 900;
}

.card-text {
    margin-top: 5px;
    text-align: center;
}

/* Cards End */
/* Box Containers End */
/* SERVICES END */


/* ABOUT US START */
.about {
    margin: 20px 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.about span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

.about-heading {
    font-weight: bold;
}

/* ABOUT US END */


/* MOMENTS START */
.moments {
    margin: 25px 10px 20px 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.moments span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

.moment-cards {
    border-radius: 15px;
    /* background-color: #c9d3a000; */
    padding: 0rem 1rem;
    /* height: 20px; */
}

.moment-cards img {
    border: 2px solid rgba(28, 255, 244, 0.516);
    border-radius: 10px;
    object-fit: cover;
    height: 12rem;
}

/* MOMENTS END */


/* FOOTER START */
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding-left: 0;
}

.footer {
    margin-top: 3rem;
    background-color: #06302b98;
    padding: 20px;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-logo img {
    margin: 22px 0px;
    height: 5rem;
    object-fit: cover;
    filter: saturate(3);
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #a9a9a9;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col ul li {
    color: #a9a9a9;
}

.footer-col ul li:hover {
    color: #ffffff;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* FOOTER END */








/* MEDIA SCREEN QUERIES START */
@media (max-width: 991px) {
    body {
        background-repeat: no-repeat;
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }

    .sidebar {
        background-color: rgba(141, 124, 26, 0.221);
        backdrop-filter: blur(7px);
        color: aliceblue;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
        margin: 2% 10% 2% 10%;
    }

    .form-control {
        border-radius: 20px;
        height: 36px;
        width: 100%;
    }

    .carousel {
        padding: 1%;
        margin: 1% 8% 1% 8%;
    }

    .carousel-caption {
        position: absolute;
    }

    .d-block {
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 36%;
        margin-left: 36%;
    }

    .register-btn:hover {
        background-color: #006503;
    }

    .card-text {
        margin-top: 5px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .d-block {
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 33%;
        margin-left: 33%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .d-block {
        height: 270px;
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 29%;
        margin-left: 29%;
        font-size: 70%;
    }

    .footer-col {
        width: 100%;
    }
}

@media (max-width: 450px) {

    .d-block {
        height: 220px;
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 21%;
        margin-left: 21%;
        font-size: 70%;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 9rem);
        gap: 10px;
        justify-content: center;
    }

    .cards {
        border-radius: 15px;
        background-color: #c9d3a0;
        padding: 0rem 1rem;
    }

    .mycards {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12rem;
    }

    .mycards i {
        font-size: 2rem;
        margin: 1rem;
    }

    .mycards a {
        text-decoration: none;
    }

    .card-title {
        font-size: 17px;
    }

    .card-text {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
    }
}

/* MEDIA SCREEN QUERIES END */
