/* @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    /* border: 1px solid red; */
    /* font-family: 'Nova Square', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR START */
.navbar {
    /* backdrop-filter: blur(3px); */
    background-color: #0080cfba;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(231, 139, 1);
}


/* Search Bar Start */
.form-control {
    margin-top: 2.5px;
    margin-right: 5px;
    height: 34px;
    width: 180px;
    border-radius: 17px;
    font-size: smaller;
}

.search-btn {
    margin-top: 2.5px;
    margin-right: 5px;
    height: 34px;
    border-radius: 17px;
    background-color: #895d00;
}

.search-btn:hover {
    border-radius: 17px;
    background-color: #006503;
}

/* Search Bar End */
/* NAVBAR END */

body {
    background-image: linear-gradient(to right bottom, #051937, #003653, #005253, #096a3b, #717b1f);
    background-repeat: no-repeat;
    background-size: cover;
}

/* EVENTS START */
/* Events Heading Start */
.events {
    margin-top: 5rem;
    color: #fff;
    text-align: center;
}

.events span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

/* Events Heading End */

/* Slider Start */
.carousel {
    padding: 1%;
    margin: 1% 13% 1% 13%;
}

/* Images Start */
.d-block {
    /* border: 1px solid rgb(255, 221, 0); */
    /* width is set in the class itself */
    height: 390px;
    object-fit: cover;
    border-radius: 20px;
}

/* Images End */

.carousel-caption {
    position: absolute;
    bottom: 2.3rem;
}

/* Register Button Start */
.register-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 90%;
    font-weight: bold;
    z-index: 4;
    border-radius: 17px;
    margin-right: 38%;
    margin-bottom: 1.5rem;
    margin-left: 38%;
    background-color: #895d00;
}

.register-btn:hover {
    background-color: #006503;
}

/* Register Button End */
/* Slider End */
/* EVENTS END */

/* SERVICES START */
/* Services Heading Start */
.services {
    color: white;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

.services span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

/* Services Heading End */

/* Box Containers Start */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 20px;
    justify-content: center;
}

/* Cards Start */
.cards {
    border-radius: 15px;
    background-color: #c9d3a0;
    padding: 0rem 1rem;
}

.mycards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
}

/* Icons Starts */
.mycards i {
    font-size: 2rem;
    margin: 1rem;
}

/* Icons End */

.mycards a {
    text-decoration: none;
}

.card-title {
    text-align: center;
    font-weight: 900;
}

.card-text {
    margin-top: 5px;
    text-align: center;
}

/* Cards End */
/* Box Containers End */
/* SERVICES END */


/* ABOUT US START */
.about {
    margin: 20px 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.about span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

/* ABOUT US END */


/* MOMENTS START */
.moments {
    margin: 25px 10px 20px 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.moments span {
    font-weight: bold;
    color: rgb(0, 214, 214);
}

.moment-cards {
    border-radius: 15px;
    /* background-color: #c9d3a000; */
    padding: 0rem 1rem;
    /* height: 20px; */
}

.moment-cards img {
    border: 2px solid wheat;
    border-radius: 10px;
    object-fit: cover;
    height: 12rem;
}

/* MOMENTS START */

















/* MEDIA SCREEN QUERIES START */
@media (max-width: 991px) {
    body {
        /* background: url(./img/bg8.jpg); */
        background-repeat: no-repeat;
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }

    .sidebar {
        background-color: rgba(141, 124, 26, 0.221);
        backdrop-filter: blur(7px);
        color: aliceblue;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
        margin: 2% 10% 2% 10%;
    }

    .form-control {
        border-radius: 20px;
        height: 36px;
        width: 100%;
    }

    .carousel {
        padding: 1%;
        margin: 1% 8% 1% 8%;
        /* border-radius: 25px; */
    }

    .carousel-caption {
        /* display: initial; */
        position: absolute;
    }

    .d-block {
        height: 350px;
        /* width is set in the class itself */
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 36%;
        margin-left: 36%;
        /* padding-right: 1rem;
        padding-left: 1rem; */
    }

    .register-btn:hover {
        background-color: #006503;
    }

    .card-text {
        margin-top: 5px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .d-block {
        height: 300px;
        /* width is set in the class itself */
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 33%;
        margin-left: 33%;
    }
}

@media (max-width: 575px) {
    .d-block {
        height: 270px;
        /* width is set in the class itself */
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 29%;
        margin-left: 29%;
        font-size: 70%;
    }
}

@media (max-width: 450px) {

    .d-block {
        height: 220px;
        /* width is set in the class itself */
        object-fit: cover;
        border-radius: 15px;
    }

    .register-btn {
        margin-right: 21%;
        margin-left: 21%;
        font-size: 70%;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 12rem);
        gap: 10px;
        justify-content: center;
    }

    .cards {
        border-radius: 15px;
        background-color: #c9d3a0;
        /* width: 18rem; */
        padding: 0rem 1rem;
        /* margin-top: 1rem; */
    }

    .mycards {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12rem;
    }

    .mycards i {
        font-size: 2rem;
        margin: 1rem;
    }

    .mycards a {
        text-decoration: none;
    }

    .card-title {
        font-size: 17px;
    }

    .card-text {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
    }
}

/* MEDIA SCREEN QUERIES END */
